langchain
python-dotenv
ipykernel
langchain-community
langchain-openai
pyPDF
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
tf-keras
faiss-cpu
langchain_chroma
